@import '../variables';

.sj-header {
    background-color: $black;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    .sj-logo-container {
        align-self: center;
        .sj-logo-wrapper {
            color: $white;
            text-decoration: none;
            @include focusBtn('', '', '') {
                outline: 2px dashed $white;
                outline-offset: 2px;  
            }
        }        
    }
    @include mediaQuery($desktop)  {
        & {
            position: static;
        }
    }
}