$black: #17191e;
$yellow: #ffda00;
$yellowoverwhite: #8c7300;
$white: #FFF;
$linkWhite: #00098F;
$linkBlack: #ffda00;
$bordercolorBlack20: #C0CEDC;
$bordercolorBlack80: #2C3138;
$fontTitle: 'Oswald', sans-serif;
$fontText: 'Raleway', sans-serif;

$phone-landscape: 'min-width:640px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
$desktop-xl: 'min-width: 1200px';
$desktop-xxl: 'min-width: 1400px';

$icomoon-font-family: "sj-joseph-icon" !default;
$icomoon-font-path: "../css/fonts" !default;

$sj-icon-email: "\e900";
$sj-icon-app: "\e901";
$sj-icon-location: "\e902";
$sj-icon-design: "\e903";
$sj-icon-bubbles3: "\e96f";
$sj-icon-spinner9: "\e982";
$sj-icon-cross: "\ea0f";
$sj-icon-code: "\ea80";
$sj-icon-facebook: "\ea91";
$sj-icon-instagram: "\ea92";
$sj-icon-whatsapp: "\ea93";
$sj-icon-twitter: "\ea96";
$sj-icon-rss: "\ea9c";
$sj-icon-youtube: "\ea9d";
$sj-icon-vimeo: "\eaa1";