$black: #17191e;
$yellow: #ffda00;
$yellowoverwhite: #8c7300;
$white: #FFF;
$linkWhite: #00098F;
$linkBlack: #ffda00;
$bordercolorBlack20: #C0CEDC;
$bordercolorBlack80: #2C3138;
$fontTitle: 'Oswald', sans-serif;
$fontText: 'Raleway', sans-serif;

$phone-landscape: 'min-width:640px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
$desktop-xl: 'min-width: 1200px';
$desktop-xxl: 'min-width: 1400px';